sr-rd-crlbar.controlbar {
    height: 100px;
    z-index: 2147483647;
}

sr-rd-crlbar fab {
    position: fixed;
    display: block;

    bottom: 45px;
    right: 24px;

    width: 56px;
    height: 56px;
    line-height: 56px;

    font-size: 15px;
    text-align: center;

    color: #fff;
    background-color: rgb(76, 175, 80);

    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

    transform: rotate(0deg);
    transition: all 450ms 0ms;
}

.simpread-read-root sr-rd-crlbar fab:hover,
sr-rd-crlbar fab.focus-crlbar-close:hover {
    transform: rotate(45deg);
    transition: all 450ms 0ms;
}

.simpread-read-root sr-rd-crlbar fab,
sr-rd-crlbar fab.focus-crlbar-close {
    background-color: rgba(244, 67, 54, 1);
}